@import "reset.css";

body {
  background: azure;
}

.container {
  width: 1000px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  font-size: 5rem;
}

.amamov {
  font-size: 2rem;
}
